/* -------------------------------------------------------------------------------------------------------
	 	 	 ∆ GENERAL
------------------------------------------------------------------------------------------------------- */


body {
	margin: 0;
	font: 14px Arial, sans-serif;
	background-color: #FCFCFC;	
}

#wrapper {
	margin: 0;
	padding: 0;
}

/* -------------------------------------------------------------------------------------------------------
	 	 	 ∆ HEADER
------------------------------------------------------------------------------------------------------- */


header{
	height: 60px;
	margin: 0;
	padding: 0;
	background-color: #F5563C;
}

header h1 {
	float: left;
	margin: 0;
	padding: 0;
	overflow: hidden;
	font: 50px 'Passero One', cursive;
	text-transform: uppercase;
	color: 	#FFF;
}

nav ul{
	float: right;
	width: 420px;
	margin: 12px 0;
	padding: 0;
	overflow: hidden;	
}

nav li{
	float: left;
	width: 105px;
	padding: 0 0;
	list-style-type: none;	
	line-height: 35px;
	text-align: center;
	font-size: 18px;	
}

nav a{
	display: block;
}

nav a:hover {
	color: #FFF;
	background-color: #E94A30;
	text-decoration: none;
}


/* -------------------------------------------------------------------------------------------------------
	 	 	 ∆ CONTENT 
------------------------------------------------------------------------------------------------------- */


#banner {
	background-color: #5fC5C8;
}

section {
	clear: both;
	padding: 0;
}

.grey_bg {
	overflow: hidden;
	padding: 10px 0;
	background-color: #E8E8E8;
}

h2 {
	margin-top: 0;
	font-size: 26px;
	color: #F5563C;
}

h3 {
	margin: 5px 0 5px;
	padding: 0;
	font-size: 22px;
	color: #F5563C;	
}

.divider {
	float: left;
	width: 2px;
	height: 355px;
	margin: 20px;
	background-color: #DDD;
}

.column_one, .column_two {
	float: left;
	margin: 10px 0;
	padding: 0 10px;
	overflow: hidden;
}

.column_one { 
	width: 690px;
}

.column_two { 
	width: 439px;
}

.column_two img {
	float: left;
	padding-right: 12px;
}

#see_also {
	float: right;
	width: 220px;
	margin: 15px 0;
	padding: 0 10px;
	background-color: #E8E8E8;
	overflow: hidden;
}

#see_also ul{
	width: 202px;
	margin: 0 0 10px;
	padding: 5px 0 10px 18px;
	
}

#see_also ul li{
	padding: 3px 0;
}

ul#gallery {
	clear: both;
	padding: 0;
	margin: auto;
	overflow: hidden;
}

ul#gallery li{
	float: left;
	margin: 15px 30px 15px 0;
	list-style-type: none;		
}

ul#gallery a {
	display: block;
}


/* -------------------------------------------------------------------------------------------------------
	 	 	 ∆ FOOTER 
------------------------------------------------------------------------------------------------------- */


footer {
	padding: 20px;
	text-align: center;
	background-color: #F5563C; 
	clear: both;
}

footer p {
	margin: 0;
	color: #fff;
}


/* -------------------------------------------------------------------------------------------------------
	 	 	 ∆ ANCHORS
------------------------------------------------------------------------------------------------------- */


a:link {
	color: #FFF;
	text-decoration: none;
}

a:visited {
	color: #FFF;
	text-decoration: none;
}

a:hover {
	color: #FFF;
	text-decoration: none;
}

a:active {
	color: #FFF;
	text-decoration: none;
}


/* -------------------------------------------------------------------------------------------------------
	 	 	 ∆ OTHER / FIXES ------------------------------------------------------------------------------------------------------- */


.center {
	width: 960px;
	margin: auto;
}

.clear_fix {
	clear: both;
}