body#main_page {
	margin: 0;
	padding: 0;
	background-color: #f8f7f3;
}

#page{
	font: 13px Arial, sans-serif;
	color: #222;
}


/* ----------------------- HEADER ----------------------- */ 


#header {
	background: #f0eee6 url("../images/header_content_bg.png") no-repeat center scroll;
	height: 550px;
/* 	margin: 0; 
	padding: 0;*/
}

#logo {
	background-color: #222;
}

#logo .inner {
	width: 950px;
	margin: auto;
	padding: 20px 0 30px 0;
}

#main_navigation {
	background: url('../images/navigation_bg.png') repeat-x scroll transparent;
}

#main_navigation ul {
	overflow: hidden;
	width: 960px;
	margin: 0 auto;	
	padding: 0;
}

#main_navigation li {
	display: inline;
	float: left;
	width: 120px;
	padding: 0;
	list-style-type: none;	
	line-height: 50px;
	text-align: center;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
}

#main_navigation a {
	display: block;
	color: #222;
	text-decoration: none;
}

.current_page_item {
	background-color: #222;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
	height: 60px;
}

#main_navigation .current_page_item a {
	color: #fcfcfa;
}

#header_content {
	margin: auto;
	padding: 15px 0 0 40px;
	width: 960px;
	font-family: 'geoslb712_md_btmedium', Arial, sans-serif;
}

h1 {
	font-size: 50px;
	margin: 10px 0;
	
}

#header_content p {
	margin: 10px 0;
	padding-right: 510px;
	font-size: 25px;
	color: #bb0000;
} 


/* ----------------------- MAIN ----------------------- */ 


#main_container {
	width: 960px;
	margin: 0 auto;
}

#content {

}

.featured_info {
	margin: -33px 0;
	
}

.info_box {
	width: 235px;
	margin-right: 5px;
	background: #fff url('../images/info_box_bg.png') no-repeat bottom scroll;
	float: left;
	overflow: hidden;
}

.info_box .inner p {
	clear: left;
	margin: 0;
	padding: 0 20px 5px 20px;
	line-height: 1.75;
	color: #666;

}

.info_box img {
	float: left;
	width: 85px;
	margin: 0;
}

.info_box a.read_more {
	display: block;
	background: #fff url('../images/read_more.png') no-repeat right scroll;
	width: 63px;
	height: 30px;
	float: right;
	margin: 0 20px 25px 0;
	color: #fff;
	line-height: 36px;
	text-align: center;
	text-transform: uppercase;
	font-size: 10px;
	font-weight: bold;
}

.main_page_widgets {
	clear: both;
}

.widget_text {
	float: left;
	width: 435px;
	margin: 18px 20px 25px 20px;
}
.widget_header {
	margin: 0;
}

.widget_content {
	line-height: 1.75;
}

.divider {
	height: 1px;
	background-color: #e2e0d7;
	border-bottom: 1px solid #fff;
	margin: 18px 0;
}
h2{
	font: 20px 'geoslb712_md_btmedium', Arial, sans-serif;
	margin: 0;
	padding: 15px 10px 15px 90px;
}

h3{
	font: 14px 'geoslb712_md_btmedium', Arial, sans-serif;
	text-transform: uppercase;	
}


/* ----------------------- FOOTER ----------------------- */ 


#footer {
	background-color: #f0eee6;
}

.container {
	width: 960px;
	margin: 0 auto;
	padding: 32px 0;
	font: 12px Arial, sans-serif;
	text-align: center;
}


/* ----------------------- LINKS ----------------------- */ 

a:link {
	color: #bb0000;
	text-decoration: none;
}

a:visited {
	color: #bb0000;
	text-decoration: none;
}

a:hover {
	color: #bb0000;
	text-decoration: underline;
}

a:active {
	color: #bb0000;
	text-decoration: none;
}

/* ----------------------- OTHER ----------------------- */ 


.push{
	clear: both;	
}

@font-face {
    font-family: 'geoslb712_md_btmedium';
    src: url('../font4605-webfont.eot');
    src: url('4605-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/4605-webfont.woff') format('woff'),
         url('../font4605-webfont.ttf') format('truetype'),
         url('../font4605-webfont.svg#geoslb712_md_btmedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

