body#main_page {
	margin: 0;
	padding: 0;
}

#page{
	font: 13px Arial, sans-serif;
}


/* ----------------------- HEADER ----------------------- */ 


#header {
	background: url("../images/header_content_bg.png") no-repeat center scroll;
	height: 550px;
	margin: 0;
	padding: 0;
}

#logo {
	background-color: #222;
}

#logo .inner {
	width: 950px;
	margin: auto;
	padding: 20px 0 30px 0;
}

#main_navigation {
	background-color: #fdfdfc;
}

#main_navigation ul {
	overflow: hidden;
	width: 960px;
	margin: 0 auto;	
	padding: 0;
}

#main_navigation li {
	display: inline;
	float: left;
	width: 128px;
	padding: 0;
	list-style-type: none;	
	line-height: 50px;
	text-align: center;
	font-size: 12px;
	text-transform: uppercase;
}

#main_navigation a {
	display: block;
}

.current_page_item {
}

#header_content {
	
}

h1 {
}

/* ----------------------- MAIN ----------------------- */ 


#main_container {
}

#content {
}

.featured_info {
}

.info_box {
}

#main_page_widgets {
}

.widget_header {
}

.widget_content {
}

.widget_text {
}

h2{
}

h3{
}


/* ----------------------- FOOTER ----------------------- */ 


#footer {
}

.container {
}

/* ----------------------- FOOTER ----------------------- */ 

a:link {
	color: #222;
	text-decoration: none;
}

a:visited {
	color: #222;
	text-decoration: none;
}

a:hover {
	color: #222;
	text-decoration: none;
}

a:active {
	color: #222;
	text-decoration: none;
}

/* ----------------------- OTHER ----------------------- */ 


.inner {
}

