body#main_page {
	margin: 0;
	padding: 0;
}

#page{
	font: 13px Arial, sans-serif;
}


/* ----------------------- HEADER ----------------------- */ 


#header {
	background: #f0eee6 url("../images/header_content_bg.png") no-repeat center scroll;
	height: 550px;
	margin: 0;
	padding: 0;
}

#logo {
	background-color: #222;
}

#logo .inner {
	width: 950px;
	margin: auto;
	padding: 20px 0 30px 0;
}

#main_navigation {
	background: url('../images/navigation_bg.png') repeat-x scroll transparent;
}

#main_navigation ul {
	overflow: hidden;
	width: 960px;
	margin: 0 auto;	
	padding: 0;
}

#main_navigation li {
	display: inline;
	float: left;
	width: 120px;
	padding: 0;
	list-style-type: none;	
	line-height: 50px;
	text-align: center;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
}

#main_navigation a {
	display: block
}

.current_page_item {
	background-color: #222;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
	height: 60px;
}

#main_navigation .current_page_item a {
	color: #fcfcfa;
}

#header_content {
	margin: 40px 0 0 175px;
	width: 460px;
	font-family: 'geoslb712_md_btmedium', Arial, sans-serif;
}

h1 {
	font-size: 50px;
	color: #222;
	margin: 10px 0;
	
}

#header_content p {
	margin: 10px 0;
	font-size: 25px;
	color: #bb0000;
} 


/* ----------------------- MAIN ----------------------- */ 


#main_container {
}

#content {
}

.featured_info {
}

.info_box {
}

#main_page_widgets {
}

.widget_header {
}

.widget_content {
}

.widget_text {
}

h2{
}

h3{
}


/* ----------------------- FOOTER ----------------------- */ 


#footer {
}

.container {
}

/* ----------------------- FOOTER ----------------------- */ 

a:link {
	color: #222;
	text-decoration: none;
}

a:visited {
	color: #222;
	text-decoration: none;
}

a:hover {
	color: #222;
	text-decoration: none;
}

a:active {
	color: #222;
	text-decoration: none;
}

/* ----------------------- OTHER ----------------------- */ 


.inner {
}

@font-face {
    font-family: 'geoslb712_md_btmedium';
    src: url('../font4605-webfont.eot');
    src: url('4605-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/4605-webfont.woff') format('woff'),
         url('../font4605-webfont.ttf') format('truetype'),
         url('../font4605-webfont.svg#geoslb712_md_btmedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

