body {

}

/* #wrapper {
	width: 960px;
	margin: auto; 
} */

#main_content {
	width: 960px;
	margin:auto;
}

/* ------------------- HEADER ------------------- */

header{

}

nav{

}

nav ul{

}

nav li {

}

nav a{

}

/* ------------------- OTHER -------------------  */

footer {

}