/* ------------------- MAIN ------------------- */


body {
	margin: 0;
	font: 14px Arial, sans-serif;
	background-color: #FCFCFC;
	
}

#wrapper {
	margin: 0;
	padding: 0;
}

#main_content {
	/* width: 960px; */
	margin:auto;
}


/* ------------------- HEADER ------------------- */


header{
	margin: 0;
	padding: 0;
	height: 60px;
	background-color: #F5563C;
/* 	box-shadow: 0 10px 20px #FFD699; */
}

#content_header{
	width: 960px;
	margin: auto;
}

header h1 {
	float: left;
	margin: 0;
	padding: 0;
	overflow: hidden;
	font: 50px 'Passero One', cursive;
	text-transform: uppercase;
	color: 	#FFF;
}

nav{

}

nav ul{
	float: right;
	margin: 12px 0;
	padding: 0;
	width: 420px;
	overflow: hidden;
	
}

nav li{
	display: inline;
	float: left;
	padding: 0 0;
	width: 105px;
	list-style-type: none;	
	line-height: 35px;
	text-align: center;
	font-size: 18px;	
}

nav a{
	display: block;
}

nav a:hover {
	color: #FFF;
	background-color: #E94A30;
	text-decoration: none;
}


/* ------------------- SECTIONS-------------------  */

#banner {
	background-color: #5fC5C8;
}

/* #banner img { 
	
	width: 960px;
	margin: auto;
}*/

section {
	padding: 10px 0;
	clear: both;
}
.grey_bg {
	background-color: #E8E8E8;
/* 	height: 550px; */
	padding: 10px 0;
}

h2 {
	margin-top: 0;
	font-size: 26px;
	color: #F5563C;
}

.divider {
	float: left;
	margin: 20px;
	width: 2px;
	height: 355px;
	background-color: #DDD;
}

.divider_two {
	float: left;
	margin: 20px;
	width: 2px;
	height: 510px;
	background-color: #DDD;
}

.column_one {
	margin: 10px 0;
	padding: 0 10px;
	width: 690px;
	float: left;
	overflow: hidden;
}

.column_two { 
	margin: 10px 0;
	padding: 0 10px;
	width: 439px;
	float: left;
	overflow: hidden;
}

ul#gallery {
	clear: both;
	overflow: hidden;
	padding: 0;
	margin: 25px 0;

}

ul#gallery li{

	display: inline;
	float: left;
	margin-right: 5px;
	padding: 5px 5px 2px; 
	background-color: #5fC5C8; 
	list-style-type: none;	
	
}

ul#gallery a {
	display: block;
}

#see_also {
	width: 220px;
	margin: 10px 0;
	padding: 0 10px;
	float: right;
	background-color: #E8E8E8;
	overflow: hidden;
}

h3 {
	margin: 5px 0 5px;
	padding: 0;
	font-size: 22px;
	color: #F5563C;	
}

#see_also ul{
	margin: 0 0 10px;
	padding: 5px 0 5px 30px;
	width: 202px;
}

#see_also ul li{
/* 	list-style-type: none;  */
	padding: 3px 0;
}


/* ------------------- FOOTER -------------------  */


footer {
	padding: 20px;
	text-align: center;
	background-color: #F5563C; 
	clear: both;
}

footer p {
	margin: 0;
	color: #fff;
}


/* ------------------- LINKS -------------------  */


a:link {
	color: #FFF;
	text-decoration: none;
}

a:visited {
	color: #FFF;
	text-decoration: none;
}

a:hover {
	color: #FFF;
	text-decoration: none;
}

a:active {
	color: #FFF;
	text-decoration: none;
}


/* ------------------- OTHER -------------------  */


.center {
	width: 960px;
	margin: auto;
}

.clear_fix {
	clear: both;
}