body {
	margin: 0px;
	font-family: Arial, sans-serif;
	background-color: #EBEBEB;
	
}

#wrapper {
	margin: 0px;
	padding: 0px;
}

#main_content {
	width: 960px;
	margin:auto;
}

/* ------------------- HEADER ------------------- */

header{
	background-color: #FFB84D;
	margin-top: 0;
	padding: 5px 0px;
}

#content_header{
	width: 960px;
	margin: auto;
}

nav{

}

nav ul{
	padding: 0;
 	background-color: red; 
/* 	overflow: hidden; */
	width: 400px;
	float: right;
}

nav li{
	display: inline;
	padding: 0px 0px;
	list-style-type: none;	
	float: left;
	line-height: 30px;
	width: 100px;
	text-align: center;
	
	
}

nav a{
	display: block;
	*/ background-color: #FF9900; */
	

}

/* ------------------- OTHER -------------------  */

h1 {
	float: left;
	margin: 0;
}

p.clearFix {
	clear: both;
}

footer {
	padding: 20px;
	text-align: center;
	background-color: #FFB84D; 
}

footer p {
	margin: 0;
	color: #fff;
}

/* ------------------- LINKS -------------------  */

a:link {
	color: #fff;
	text-decoration: none;
}

a:visited {
	color: #fff;
	text-decoration: none;
}

a:hover {
	color: #fff;
	background-color: #FF9900;
	text-decoration: none;
}

a:active {
	color: #fff;
	text-decoration: none;
}