body {
	font-family: Arial, sans-serif;
}

h1 {
	
}

h2 {
	
}

h3 {

}

p {
	font-size: 14px;
	line-height: 1.5;
}

a:link {

}

a:visited {

}

a:hover {

}

a:active {

}

#wrapper {

}

nav {

}

#content {

}

footer {

}