body {
	font-family: Arial, sans-serif;
	/* background-color: #424242; */
	margin: 0px;
}

/* ------------- HEADER ------------ */

header {
	margin: 0px 0px 15px; 
	padding: 0px;
	height: auto;
	background-color: #262626;
}

header h1 {
	margin: 0px 20px;
	padding: 10px 0px;
	font-size: 45px;
	color: #EBEBEB;
}

nav {
	padding: 5px 10px;
	background-color: #4A4A4A;
}

nav li{
	display: inline;
	padding: 0px 15px;
	list-style-type: none;
	
}

nav ul {
	margin: 5px 0px;
	padding: 0px;
}

/* ------------- OTHER -------------- */

h2 {	
}

h3 {
}

p {
	font-size: 13px;
	line-height: 1.5;
}

#wrapper {
	margin: 0px auto;
	padding: 0px;
	width: 960px;
	background-color: #D6D6D6;
}

#content {
	padding: 10px 20px;
}

div img {
	/* display: block; 
	margin: auto; */
	padding: 0px 0px 10px 20px;
	float: right;
}

p.first {
	margin-top: 0px;
}

footer {
	padding: 5px 0px;
	background-color: #262626;
	color: #EBEBEB;
	text-align: center;
}


/* ---------------- Links ---------------- */

a:link {
	text-decoration: none;
	color: #EBEBEB;
}

a:visited {
	text-decoration: none;
	color: #EBEBEB;
}

a:hover {
	text-decoration: underline;
	color: #EBEBEB;
}

a:active {
	text-decoration: none;
	color: #EBEBEB;
}